.card {
    position: relative;
    z-index: 2;
    background: #155e7e;
    border-radius: 0.5rem;
    padding: 0.5rem;
    backdrop-filter: blur(8px);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 1.5px 1.1px rgba(0, 0, 0, 0.034), 0 3.6px 2.5px rgba(0, 0, 0, 0.048), 0 6.8px 4.8px rgba(0, 0, 0, 0.06), 0 12.1px 8.5px rgba(0, 0, 0, 0.072), 0 22.6px 15.9px rgba(0, 0, 0, 0.086), 0 54px 38px rgba(0, 0, 0, 0.12);
  }  

  .coin-image { 
    height: 20px; 
    margin-right: 5px;
    margin-bottom: 3px;
    border-radius: 50%;
  }


  .cargo-image { 
    height: 20px; 
    margin-right: 5px;
    margin-bottom: 3px;
  }